---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Blog from "@components/Blog"
import { BLOG, PHOTOGRAPHY } from "@consts"
import Photography from "@components/Photography.astro"

const albums = (await getCollection("albums"))
---

<PageLayout title={PHOTOGRAPHY.TITLE} description={PHOTOGRAPHY.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {PHOTOGRAPHY.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Photography data={albums} />
    </div>
  </BottomLayout>
</PageLayout>


